<app-menu></app-menu>

<div class="gradient-container">
  <div class="gradient" [ngStyle]="gradientStyle"></div>
</div>
<p>Code</p>
<code>background-image: {{code}};</code>
<h2>Generate gradient</h2>
<p>Choose orientation</p>
<section class="orientations">
  <button *ngFor="let o of orientations; let i = index" (click)="setRotate(true,i)" class="tooltiper">
    <span class="tooltip">{{o}} ({{((i*45))}}deg)</span>
    <img src="../assets/arrow.svg" alt="arrow icon" [ngStyle]="{ 'transform': 'rotate('+((i*45)+90)+'deg)' }">
  </button>
  <button (click)="setRotate(false,null)" class="tooltiper">
    <span class="tooltip">radial</span>
    <img src="../assets/radial.svg" alt="arrow icon">
  </button>
</section>
<section class="colors" > 
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let c of colors; let i = index" cdkDrag>
      <img src="../assets/can.svg" alt="trash can" tabindex="0" (click)="deleteColor(i)" />
      <div class="color">
        <div class="gradient" [ngStyle]="{ 'background-color': c }"></div>
      </div>
    </div>
  </div>
  <div class="colorpicker tooltiper">
    <span class="tooltip">Choose your color</span>
    <img src="../assets/plus.svg" alt="trash can" tabindex="0" (click)="addColor(colorname)" />
    <input type="text" class="colorhex" [(colorPicker)]="colorname" [style.background]="colorname" [(ngModel)]="colorname">
  </div>
</section>
<!-- <h2>Presets</h2>
<p>Use and conquer</p>
<section class="presets">

</section> -->
<div class="modal" [class.visible]="showModal">
  You cannot delete last two colors!
</div>
