:host {
  padding: 10px;
}

.gradient-container {
  width: 300px;
  height: 300px;
  max-width: 80vw;
  max-height: 80vw;
  border: 2px solid black;
  border-radius: 3px;
  margin: auto;
  background-image: /* tint image */ linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)), /* checkered effect */ linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 2em 2em;
  box-shadow: 0 4px 0 rgba(black, 0.5);
  position: relative;
}

h2,
p {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 2.6em;
  border-bottom: 2px solid rgba(black, 0.5);
  margin: 0.8em 10% 0;
}

p {
  font-size: 1.8em;
  margin-top: 0.5em;
  letter-spacing: 2px;
}

.orientations {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 35px 16px 16px;

  button {
    border: 0;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:focus {
      outline: none;

      img {
        box-shadow: 0 0 0px 2px black;
      }

    }

    &:not(:first-of-type) {
      margin-left: 8px;
    }
   

    img {
      width: 26px;
      border-radius: 50%;
      transition: 0.2s;
    }

    &:hover {
      img {
        background-color: rgba(white, 0.3);
      }
    }
  }
}

.colors {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  >div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    &:not(:first-of-type) {
      margin-left: 6px;

    }
    &:not(:last-of-type) {
      img{
        transform: scaleY(0);
      }
      &:hover{
        img{
          transform: scaleY(1);
        }
      }
    }
    &:last-of-type{
      img{
        width: 33px;
      }
    }
    &.colorpicker{
      flex-direction: row;
      background: rgba(white,0.5);
      border-radius: 60px;
      justify-content: center;
    }
  }

  img {
    width: 26px;
    transition: 0.2s;
    transform-origin: bottom;
  }

  .color {
    width: 30px;
    height: 30px;
    border: 2px solid;
    background-image: /* tint image */ linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)), /* checkered effect */ linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 2em 2em;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
  }
}